.SettingsHeader {
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid var(--bg-color-2);

  @media only screen and (max-width: 700px) {
    display: none;
  }

  &__title {
    color: var(--fg-color-1);
    line-height: 20px;
    letter-spacing: -0.54px;
  }
}
