@import '../../styles/mixins.scss';

.Login {
  --main-display: unset;
  background: var(--bg-color-1);
  height: 100%;
  max-height: 100%;
  display: grid;
  grid-template: var(--grid-template);
  grid-template-columns: 1fr;
  max-width: 100vw;
  z-index: 0;
  position: relative;

  .Sidebar {
    padding-top: 1.25em;
    padding-bottom: 1em;
    grid-area: sidebar;
  }

  .Main {
    position: relative;
    max-width: 100vw;
    height: 100%;
    overflow-x: hidden;
    padding: 1rem 0.085em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    &__connect-button {
      .Spinner {
        width: 1.5em;
        height: 1.5em;
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      align-items: center;

      &__title {
        color: var(--fg-color-2);
      }

      &__link {
        color: var(--accent-color-1);
        text-decoration: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .Login:has(.TargetSelector):has(.ThreadSelector) {
    @media only screen and (min-width: 1300px) {
      grid-template-columns: 3.75rem 1fr;
    }
  }

  .Login {
    --sidebar-display: unset;
    --main-display: unset;
    grid-template: 'sidebar main';
    grid-template-columns: 3.75rem 1fr;

    @media only screen and (min-width: 1300px) {
      grid-template-columns: 3.75rem 1fr;
    }

    .Main {
      padding: 1rem 1.5rem;
      grid-area: main;
    }
  }
}
