@import '../../styles/mixins.scss';

.Landing {
	@include padding-x(2.5%);
	display: flex;
	flex-direction: column;
	gap: 3em;
	align-items: center;
	
	&__features {
	align-items: center;
		display: flex;
		flex-direction: column;
		gap: 1em;
	}

	&__row {
		display: flex;
		gap: 1em;

		img {
			display: block;
		}
	}

}
