.Invite {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  cursor: pointer;

  outline: none;
  border: none;

  background: linear-gradient(92.29deg, #19324d 0%, rgba(25, 50, 77, 0.5) 100%);
  border-radius: 10px;

  padding: 0.75em;

  &__inviter {
    display: flex;
    overflow: hidden;
    gap: 1em;
  }

  &__message {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    color: var(--fg-color-1);
  }
}
