.Message {
  $parent: &;

  display: flex;
  position: relative;
  &__container {
    &--first,
    &--solo {
      #{$parent}__from-peer #{$parent}__bubble {
        border-radius: 16px 16px 16px 6px;
      }

      #{$parent}__from-sender #{$parent}__bubble {
        border-radius: 16px 16px 6px 16px;
      }
      display: flex;
      gap: 0.33em;
      flex-direction: column;
    }
    &--last {
      #{$parent}__from-peer #{$parent}__bubble {
        border-radius: 6px 16px 16px 16px;
      }

      #{$parent}__from-sender #{$parent}__bubble {
        border-radius: 16px 6px 16px 16px;
      }

      display: flex;
      gap: 0.33em;
      flex-direction: column;
    }
    &--same {
      #{$parent}__from-peer #{$parent}__bubble {
        border-radius: 6px 16px 16px 6px;
      }

      #{$parent}__from-sender #{$parent}__bubble {
        border-radius: 16px 6px 6px 16px;
      }
    }
  }

  &__from-peer {
    justify-content: flex-start;
  }

  &__from-sender {
    justify-content: flex-end;
  }

  &__bubble {
    overflow-wrap: break-word;
    padding: 0.4em 0.8em;
    will-change: border-radius;
    transition: border-radius ease 0.2s;
    max-width: 80%;
    @media only screen and (min-width: 700px) {
      max-width: 50%;
    }
  }

  &__from-peer &__bubble {
    background: var(--sender-bubble-bg);
    box-shadow: var(--sender-box-shadow);
    color: var(--fg-color-1);
  }

  &__from-sender &__bubble {
    box-shadow: inset 1px 1px 4px #99cbff, inset -1px -1px 4px #1464b8;
    background: #3396ff;
    color: #ffffff;
  }

  &__pending {
    opacity: 90%;
  }

  &__status {
    div {
      align-items: center;
      font-size: 0.75em;
      color: var(--fg-color-2);
      display: flex;
      gap: 0.375em;
      justify-content: flex-end;
    }
    svg {
      width: 0.875em;
      height: 0.875em;
      padding-bottom: 0.1em;
    }
  }

  &__retry {
    cursor: pointer;
  }
}
