$bounce-curve: cubic-bezier(0.34, 1.56, 0.64, 1);

.Message {
  $parent: &;

  display: flex;
  position: relative;
  &--recent {
    animation: bounce-up 0.2s $bounce-curve forwards;
  }
  &__container {
    &--first {
      #{$parent}__from-peer #{$parent}__bubble {
        border-radius: 16px 16px 16px 6px;
      }

      #{$parent}__from-sender #{$parent}__bubble {
        border-radius: 16px 16px 6px 16px;
      }
    }
    &--last {
      #{$parent}__from-peer #{$parent}__bubble {
        border-radius: 6px 16px 16px 16px;
      }

      #{$parent}__from-sender #{$parent}__bubble {
        border-radius: 16px 6px 16px 16px;
      }
    }
    &--same {
      #{$parent}__from-peer #{$parent}__bubble {
        border-radius: 6px 16px 16px 6px;
      }

      #{$parent}__from-sender #{$parent}__bubble {
        border-radius: 16px 6px 6px 16px;
      }
    }
    &--solo {
      #{$parent}__from-peer #{$parent}__bubble {
        border-radius: 16px 16px 16px 16px;
      }

      #{$parent}__from-sender #{$parent}__bubble {
        border-radius: 16px 16px 16px 16px;
      }
    }
  }

  &__from-peer {
    justify-content: flex-start;
  }

  &__from-sender {
    justify-content: flex-end;
  }

  &__bubble {
    max-width: 50%;
    overflow-wrap: break-word;
    padding: 0.4em 0.8em;
    will-change: border-radius;
    transition: border-radius ease 0.2s;
  }

  &__from-peer &__bubble {
    background: var(--sender-bubble-bg);
    box-shadow: var(--sender-box-shadow);
    color: var(--fg-color-1);
  }

  &__from-sender &__bubble {
    box-shadow: inset 1px 1px 4px #99cbff, inset -1px -1px 4px #1464b8;
    background: #3396ff;
    color: #ffffff;
  }
}

@keyframes bounce-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
