.Message {
  $parent: &;

  display: flex;
  position: relative;
  &__container {
    &--first,
    &--solo {
      #{$parent}__from-peer #{$parent}__bubble {
        border-radius: 16px 16px 16px 6px;
      }

      #{$parent}__from-sender #{$parent}__bubble {
        border-radius: 16px 16px 6px 16px;
      }
      display: flex;
      gap: 0.33em;
      flex-direction: column;
    }
    &--last {
      #{$parent}__from-peer #{$parent}__bubble {
        border-radius: 16px 16px 16px 6px;
      }

      #{$parent}__from-sender #{$parent}__bubble {
        border-radius: 16px 16px 6px 16px;
      }

      display: flex;
      gap: 0.33em;
      flex-direction: column;
    }
    &--same {
      #{$parent}__from-peer #{$parent}__bubble {
        border-radius: 16px 16px 16px 6px;
      }

      #{$parent}__from-sender #{$parent}__bubble {
        border-radius: 16px 16px 6px 16px;
      }
    }
  }

  &__from-peer {
    justify-content: flex-start;
  }

  &__from-sender {
    justify-content: flex-end;
  }

  &__bubble {
    span {
      letter-spacing: 0px !important;
    }
    overflow-wrap: break-word;
    padding: 0.5em 0.75em;
    will-change: border-radius;
    transition: border-radius ease 0.2s;
    max-width: 85%;
    @media only screen and (min-width: 700px) {
      max-width: 50%;
    }
  }

  &__from-peer &__bubble {
    background: var(--sender-bubble-bg);
    color: var(--fg-color-1);
  }

  &__from-sender &__bubble {
    background: #47a1ff;
    color: #ffffff;
  }

  &__pending {
    opacity: 90%;
  }

  &__status {
    div {
      align-items: center;
      color: var(--fg-color-2);
      display: flex;
      gap: 0.5em;
      justify-content: flex-end;
    }
  }

  &__retry {
    cursor: pointer;
  }
}
