.AppCard {
  padding: 1.5em 1.75em;
  border-radius: 1.875em;
  text-decoration: none;
  height: fit-content;
  cursor: alias;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__logo {
      border-radius: 50%;
      width: 3.75em;
      height: 3.75em;
      margin-bottom: 0.75em;
    }
    &__link-icon {
      width: 0.67em;
      height: 0.67em;
    }
  }

  &__body {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0.25em;
    color: var(--fg-color-1);

    &__url {
      color: var(--fg-color-2);
    }
    &__subscribe {
      margin-top: 0.67em;
      cursor: pointer;
    }
  }
}
