.MobileFooter {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  padding: 0.625rem 3.375rem 3rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid var(--light-overlay-015);
  border-top: 0.5px solid var(--light-overlay-015);
  height: auto;
  padding: 0.5rem 1rem;
  padding-bottom: calc(env(safe-area-inset-bottom) + 0.5rem);

  &__link {
    display: flex;
    align-items: center;
    padding: 0.5rem 2rem;

    svg {
      width: 24px;
      min-width: 24px;
      height: 24px;
      min-height: 24px;
    }
  }

  @media only screen and (min-width: 700px) {
    display: none;
  }
}
