.SearchHistoryContacts {
  display: grid;
  place-items: center;
  height: 88%;
  color: var(--fg-color-1);
  padding: 0 calc(1.25em - 0.4em);
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 1em;
  }
  &__results {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 0.625em;
    &__contact-btn {
      background-color: var(--bg-color-2);
      color: var(--fg-color-1);
      border: solid 1px var(--border-color-1);
    }
  }
  &__header {
    &__result {
      color: var(--fg-color-3);
    }
    &__title {
      font-weight: 700;
      font-size: 1.125em;
      line-height: 1.375em;
      padding-bottom: 0.25em;
    }
    &__subtitle {
      color: var(--fg-color-3);
      font-weight: 500;
      font-size: 0.875em;
      line-height: 1.0625em;
    }
  }
}
