.WidgetConnect {
  display: grid;
  place-items: center;

  height: 100vh;
  width: 100vw;

  &__container {
    display: flex;
    padding: 2em;
    gap: 2em;
    flex-direction: column;
  }

  &__icon {
    display: grid;
    place-items: center;
    img {
      width: 5em;
      height: 5em;
    }
  }

  &__text {
    font-size: 1.25em;
    text-align: center;
    font-weight: 800;
  }

  &__subtext {
    display: grid;
    place-items: center;

    font-size: 1em;
    text-align: center;
    font-weight: 500;

    span {
      width: 75%;
    }
  }

  &__connect {
    display: flex;
    justify-content: center;
  }
  .Button {
    width: 100%;
  }
}
