.AppNotifications {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding-top: 6px;
  height: 100%;

  &Actions {
    position: absolute;
    left: 0;
    transform: translateX(-100%);
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    width: calc(150px + 15px);
    height: 100%;
    border-radius: 0 5px 5px 0;
    padding-right: 1em;
    @media only screen and (min-width: 700px) {
      display: none;
    }
    & button:last-child {
      border-radius: 0 5px 5px 0;
    }
    @media only screen and (min-width: 700px) {
      & button:first-child {
        border-radius: 5px 0 0 5px;
      }
    }
    &__clear,
    &__unread {
      outline: none;
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 3px;
      height: 100%;
      &--text {
        font-size: 12px;
      }
      & img {
        height: 2em !important;
        width: auto !important;
      }
    }
    &__unread {
      background-color: hsl(211, 100%, 60%);
      color: hsla(180, 6%, 90%, 1);
    }
    &__clear {
      background-color: hsl(211, 80%, 40%);
      color: hsla(180, 6%, 90%, 1);
    }
  }

  &__list {
    padding: 0 calc(1.25em - 0.4em) 0 calc(0.75em - 0.4em);
  }

  &__item {
    position: relative;
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: center;
    padding: 0.625em 0.25em;
    border-radius: 20px;

    &:hover {
      border-radius: 20px;
      background: var(--bg-color-2);
    }

    &__status {
      position: relative;
      left: 4px;
      background: var(--bg-color-2);
    }
    img {
      width: 4em;
      height: 4em;
      border-radius: 10px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__title {
      color: var(--fg-color-1);
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      min-width: 28px;
      min-height: 28px;
    }
    &__message {
      color: var(--fg-color-2);
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
    &__time {
      color: var(--fg-color-3);
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      margin-right: 1em;
    }
  }
}
