.AppNotifications {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  padding-top: 6px;

  &__list {
    padding: 0 calc(1.25em - 0.4em) 0 calc(0.75em - 0.4em);
  }
  &__item {
    position: relative;
    display: flex;
    gap: 12px;
    width: 100%;
    align-items: center;
    padding: 0.625em 0.25em;
    border-radius: 20px;

    &:hover {
      border-radius: 20px;
      background: var(--bg-color-2);
    }

    &__status {
      position: relative;
      left: 4px;
      background: var(--bg-color-2);
    }
    img {
      width: 4em;
      height: 4em;
      border-radius: 10px;
    }
    &__content {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    &__header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }
    &__title {
      color: var(--fg-color-1);
      font-weight: 700;
      font-size: 18px;
      line-height: 22px;
      min-width: 28px;
      min-height: 28px;
    }
    &__message {
      color: var(--fg-color-2);
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
    }
    &__time {
      color: var(--fg-color-3);
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
    }
  }
}
