.SettingsItem {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--bg-color-2);
  padding: 2.5rem 1.5rem;
  gap: 3rem;

  @media only screen and (max-width: 768px) {
    padding: 1.5rem 1.25rem;
    gap: 1.5rem;
  }

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }

  &__content {
    min-width: 25rem;

    @media only screen and (max-width: 1024px) {
      min-width: 100%;
    }
  }
}
