.Textarea {
  display: flex;
  gap: 0.5em;
  color: var(--fg-color-1);
  border-radius: 16px;
  border: 1px solid var(--border-color-2);
  background: var(--light-overlay-002);
  padding: 0.25rem 0.875rem;

  &__textarea {
    font-size: 15px;
    font-style: normal;
    font-weight: 510;
    line-height: 20px;
    letter-spacing: -0.3px;
    resize: none;
    color: inherit;
    border: none;
    padding: 0.25em;
    height: auto;
    width: 100%;
    background: transparent;
    outline: none;
    &::placeholder {
      color: var(--fg-color-2);
    }
    &:disabled {
      &::placeholder {
        cursor: not-allowed;
        color: var(--fg-color-3);
      }
    }
  }
}
