.ThreadWindow {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;

  &__peer {
    color: var(--fg-color-1);
    padding: 0.5em calc(0.625em - 0.4em);
    display: flex;
    gap: 1em;
    max-width: 90%;
    backdrop-filter: blur(10px);
    align-items: center;
    font-size: 1.25em;
  }

  &__messages {
    height: 100%;
    overflow-y: auto;
    display: flex;
    max-height: 75vh;
    width: 100%;
    flex-direction: column;
    gap: 0.4em;
    padding: 0 0.4em;
  }
}
