.ThreadWindow {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  flex-flow: column wrap;

  &__peer {
    padding: 0.5em;
    display: flex;
    gap: 1em;
    backdrop-filter: blur(10px);
    align-items: center;
    font-size: 1.25em;
  }

  &__messages {
    overflow-y: auto;
    display: flex;
    max-height: 80vh;
    flex-direction: column;
    gap: 0.4em;
    padding-right: 0.4em;
  }
}
