.ThreadWindow {
  display: flex;
  height: 100%;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 1em;
    margin-bottom: 1.5em;
  }

  &__peer {
    color: var(--fg-color-1);
    padding: 0.5em calc(0.625em - 0.4em);
    display: flex;
    gap: 1em;
    max-width: 90%;
    backdrop-filter: blur(10px);
    align-items: center;
    font-size: 1.25em;
    @media only screen and (max-width: 700px) {
      gap: 0.8em;
      padding: 0em calc(0.625em - 0.4em);
    }
  }

  &__messages {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    max-height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 0.4em;
    padding: 0 0.4em;
  }
}
