.InviteMessage {
  display: flex;
  justify-content: flex-end;

  &__bubble {
    padding: 0.6rem 1.5rem 0.75rem 1.5rem;
    background: #47a1ff;
    border-radius: 16px 16px 4px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.2em;
  }

  img {
    width: 80px;
    height: 80px;
  }

  &__subtext {
    color: hsla(0, 0%, 100%, 0.66);
  }

  &__pending {
    display: flex;
    align-items: center;
    gap: 0.25em;
  }
}
