.InviteMessage {
  display: flex;
  justify-content: flex-end;

  &__bubble {
    padding: 0.6rem 1.5rem 0.75rem 1.5rem;
    background: #47a1ff;
    border-radius: 16px 16px 4px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.2em;
  }

  &__emoji {
    font-feature-settings: 'ss04' on, 'case' on, 'calt' off;

    font-size: 80px;
    font-style: normal;
    font-weight: 510;
    line-height: normal;
  }

  &__subtext {
    color: hsla(0, 0%, 100%, 0.66);
  }

  &__pending {
    display: flex;
    align-items: center;
    gap: 0.25em;
  }
}
