.Input {
  display: flex;
  gap: 0.5em;
  color: var(--fg-color-1);
  border-radius: 28px;
  border: 1px solid var(--fg-color-2);
  padding: 0.5em;

  &__input {
    color: inherit;
    border: none;
    padding: 0.25em;
    width: 100%;
    background: transparent;
    outline: none;
    &::placeholder {
      color: var(--fg-color-2);
    }
  }
}
