@font-face {
  font-family: 'ABC Diatype';
  src: url(/fonts/ABCDiatype-Thin.woff2) format('woff2');
  font-weight: 100 300;
}

@font-face {
  font-family: 'ABC Diatype';
  src: url(/fonts/ABCDiatype-Regular.woff2) format('woff2');
  font-weight: 400 600;
}

@font-face {
  font-family: 'ABC Diatype';
  src: url(/fonts/ABCDiatype-Bold.woff2) format('woff2');
  font-weight: 700 1000;
}
