.Button {
  display: flex;
  justify-content: space-between;
  gap: 0.3em;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 28px;
  padding: 0.4em 0.75em;
  font-weight: 500;

  &__primary {
    background: var(--accent-color-1);
    border: solid 1px var(--accent-color-1);
    color: var(--fg-color-5);
  }

  &__secondary {
    background: transparent;
    border: solid 1px var(--accent-color-1);
    color: var(--accent-color-1);
  }

  &__danger {
    background: var(--error-color-1);
    border: 1px solid var(--border-color-1);
  }

  &__action,
  &__action-icon {
    background-color: var(--bg-color-2);
    color: var(--fg-color-1);
    border: solid 1px var(--border-color-2);
  }

  &__action-icon {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: 0.5em 0.5em;
    img {
      width: 2em;
      height: 2em;
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--fg-color-2);
    color: var(--fg-color-5);
    border-color: var(--fg-color-5);
  }
}
