.PeerAndMessage {
  display: flex;
  gap: 0.75rem;
  align-items: center;
  flex-grow: 1;

  &__text {
    display: flex;
    flex-direction: column;
    font-feature-settings: 'case' on;
    text-overflow: ellipsis;
    width: 100%;
    gap: 0.25rem;
  }

  &__peer {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    max-width: none;
  }

  &__peer__mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__peer {
    color: var(--fg-color-1);
  }

  &__message__details {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__message {
    span {
      color: var(--fg-color-2);
      font-size: 14px !important;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 140%; /* 19.6px */
      letter-spacing: -0.28px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    &__timestamp {
      padding: 0 0 0px 0 !important;
    }
  }
}
