@import '../../../styles/mixins.scss';

.Avatar {
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  &__container {
    border-radius: 50%;
    border: 1px solid var(--fg-color-3);
    background: radial-gradient(
      75.29% 75.29% at 64.96% 24.36%,
      #fff 0.52%,
      var(--local-color-5) 31.25%,
      var(--local-color-3) 51.56%,
      var(--local-color-2) 65.63%,
      var(--local-color-1) 82.29%,
      var(--local-color-4) 100%
    );
  }
  &__icon {
    border-radius: 50%;
  }
  &__dropdown {
    position: absolute;
    top: 0;
    transform: translateY(calc(-100% - 3em));
    margin-top: 0.5em;
    min-width: 10em;
    color: var(--fg-color-1);
    background-color: var(--bg-color-1);
    border: solid 1px var(--border-color-2);
    border-radius: 15px;
    box-shadow: 0px 6px 14px -6px rgba(0, 0, 0, 0.12), 0px 10px 32px -4px rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: default;

    &__button {
      border-radius: 0.5em;
      background: var(--bg-color-2);
      border: 1px solid var(--border-color-2);
      color: var(--fg-color-2);
      cursor: pointer;
      display: grid;
      place-items: center;
      height: 1.5em;
      width: 1.5em;
      opacity: 0;
      will-change: opacity;
      transition: opacity 0.15s;
      svg {
        width: 0.875em;
        height: 0.875em;
      }
    }

    @media only screen and (max-width: 700px) {
      top: inherit;
    }

    &__block {
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      padding: 0.75em;

      &__group {
        padding-left: 1em;
      }

      &:hover {
        .Avatar__dropdown__button {
          opacity: 1;
        }
      }

      &__logo {
        display: flex;
        img {
          border-radius: 50%;
        }
      }

      &__username {
        display: flex;
        align-items: center;
        gap: 0.5em;
        padding-left: 0.625em;
      }
      &__balance {
        padding-left: 0.625em;
      }

      &__actions {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-size: 1em;
        button {
          user-select: none;
          height: 2.625em;
          display: flex;
          justify-content: flex-start;
          padding: 0.625em 0.8125em;
          gap: 0.5em;
          height: 2.3125em;
          border: none;
          background: none;
          color: var(--fg-color-1);
          cursor: pointer;
          img {
            width: 1em;
            height: 1em;
          }
        }

        &__button {
          display: flex;
          align-items: center;
          border-radius: 0.75em;
        }

        &__disconnect {
          svg {
            color: var(--error-color-1);
          }
          span {
            color: var(--error-color-1);
          }
        }
      }
    }
  }
}
