@import '../../../styles/mixins.scss';

.Avatar {
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  transition: 250ms all ease-in-out;

  &:hover {
    filter: contrast(1.25);
  }

  &__container {
    border-radius: 50%;
    border: 1px solid var(--fg-color-3);
    background: radial-gradient(
      75.29% 75.29% at 64.96% 24.36%,
      #fff 0.52%,
      var(--local-color-5) 31.25%,
      var(--local-color-3) 51.56%,
      var(--local-color-2) 65.63%,
      var(--local-color-1) 82.29%,
      var(--local-color-4) 100%
    );
  }
  &__icon {
    border-radius: 50%;
  }
}
