.Invites {
  display: flex;
  flex-direction: column;
  gap: 2em;
  width: 100%;

  &__invites {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .Checkbox {
      width: 3em;
      height: 3em;
    }
  }

  &__inviter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-actions {
      display: flex;
      gap: 1em;
    }

    &-selector {
      display: flex;
      align-items: center;
      gap: 1em;
    }
  }

  &__accept {
    color: var(--fg-color-2);
  }

  &__decline {
    color: var(--error-color-1);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color: var(--fg-color-1);
    span {
      font-size: 1.25em;
    }

    &-text,
    &-actions {
      display: flex;
      gap: 0.5em;
      align-items: center;
    }

    &-icon {
      display: grid;
      place-items: center;
      background: linear-gradient(135deg, #1ac6ff, #ffffff 90%);
      width: 2.75em;
      height: 2.75em;
      border-radius: 50%;
      box-shadow: inset 0px 0px 10px #1ac6ff;
      img {
        padding: 0.05em;
        width: 2em;
        height: 2em;
      }
    }
  }
}
