@import '../../../styles/mixins.scss';

.Sidebar {
  position: fixed;
  top:0;
  left: 0;
  width: 4em;

	&__container {
		height: 100%;
		@include padding-y(2em);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		background-color: var(--bg-color-1);
		border-right: solid 2px var(--bg-color-2);
	}

}

.Sidebar__Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  &__Link {
    width: 4em;
    display: flex;
    justify-content: center;
  }
}

.Sidebar__Item {
  cursor: pointer;
}
