@import '../../../styles/mixins.scss';

.Sidebar {
  @include padding-y(2em);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color-2);
  border-right: solid 2px var(--fg-color-2);
}

.Sidebar__Navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
