@import '../../../styles/mixins.scss';

.Sidebar {
  position: fixed;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  gap: 1em;
  width: 3.75rem;
  height: 100vh;

  @include padding-y(2em);
  display: none;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  transition: all 0.15s linear;

  &__Item {
    cursor: pointer;

    &-disabled {
      cursor: crosshair;
      pointer-events: none;
    }

    .wc-icon {
      width: 40px;
      height: 28px;

      transition: 250ms all ease-in-out;

      &-hoverable {
        &:hover {
          filter: contrast(0.8);
        }
      }
    }
  }

  &__Navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-color-1);
    outline: solid 1px var(--bg-color-2);
    padding: 0.5em;
    border-radius: 44px;
    gap: 0.125rem;

    &__Link {
      width: 4em;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 250ms ease-in-out;
      padding: 1rem 0;

      // This adds the little blue bar on the left of sidebar nav links
      &-active::before {
        position: absolute;
        border-radius: 0px 12px 12px 0px;
        left: -2%;
        display: inline-block;
        content: '';
        height: 3em;
        width: 0.25em;
        background: hsla(211, 100%, 60%, 1);
      }

      &:active {
        opacity: 0.5;
      }

      &-disabled {
        opacity: 0.5;
      }
    }

    svg {
      width: 24px;
      height: 24px;
    }
  }
}

@media only screen and (min-width: 700px) {
  .Sidebar {
    display: flex;
    background-color: var(--bg-color-1);
    transform: unset;
    position: relative;

    top: 0;
    left: 0;
    height: 100vh;
    flex-direction: column;

    &__Navigation {
      border-radius: unset;
      flex-direction: column;
      background-color: unset;
      outline: unset;
      padding: unset;
      outline: unset;
      gap: 0.125rem;

      &__Link {
        &:not(&-active):hover {
          &::before {
            position: absolute;
            border-radius: 0px 12px 12px 0px;
            left: -2%;
            display: inline-block;
            content: '';
            height: 3em;
            width: 0.25em;
            background: hsla(211, 100%, 60%, 0.5);
          }
        }
      }
    }
  }
}
