.DevTimeStamp {
  color: #888888;
  position: fixed;
  width: 100%;
  bottom: 0%;
  font-size: 11px;
  pointer-events: none;
  z-index: 999;

  span {
    display: block;
    width: fit-content;
    margin: auto;
  }
}
