.Checkbox {
  display: grid;
  place-items: center;
  box-sizing: border-box;

  input[type='checkbox'] {
    appearance: none;
    background-color: var(--bg-color-2);
    border: 1px solid var(--border-color-2);
    margin: 0;
    font: inherit;
    color: var(--fg-color-1);
    width: 1.25em;
    height: 1.25em;
    border-radius: 0.3em;
    display: grid;
    place-content: center;
    transition: 0.12s border;

    &::before {
      content: '';
      background-color: white;
      border-radius: 0.15em;
      width: 0.75em;
      height: 0.75em;
      transform: scale(0);
      opacity: 0;
      clip-path: url(#checkmark);
      transition: 0.12s transform, 0.12s opacity;
      transform-origin: bottom left;
    }

    &:checked::before {
      transform: scale(1);
      opacity: 1;
    }

    &:checked {
      background-color: var(--accent-color-1);
      border: 1px solid var(--accent-color-1);
    }
  }
}
