.Banner {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: #00a39e;
  width: 100%;
  padding-right: calc(2rem + 1.5rem);
  position: relative;

  &__close-button {
    width: 1rem;
    height: 1rem;
    background: none;
    border: none;
    display: flex;
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);

    svg {
      width: 1rem;
      height: 1rem;
      color: rgba(255, 255, 255, 0.75);
    }

    &:hover svg {
      color: white;
    }
  }
}

.Banner span {
  text-align: center;
  color: white;
}
