.MobileHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem 1rem;
  background-color: #fff;
  width: 100%;
  z-index: 10;
  height: 3rem;
  align-items: center;
  border-bottom: 0.5px solid var(--light-overlay-015);

  @media only screen and (min-width: 700px) {
    display: none;
  }

  &__icon,
  &__arrow,
  .Dropdown,
  .Avatar {
    flex-grow: 1;
    flex-basis: 0;
  }

  .Avatar,
  .Dropdown {
    display: flex;
    justify-content: flex-end;
  }

  &__arrow {
    width: 1.25rem;
    height: 1.25rem;
    margin-top: 4px;

    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  svg {
    width: 2.5rem;
  }

  &__title {
    color: var(--fg-color-1);
  }
}
