.SettingsItemText {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  min-width: 240px;
  max-width: 240px;

  @media only screen and (max-width: 1200px) {
    max-width: 100%;
    min-width: 100%;
  }

  &__title {
    color: var(--fg-color-1);
  }

  &__subtitle {
    color: #788181;

    @media only screen and (max-width: 700px) {
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; /* 18.2px */
      letter-spacing: -0.28px;
    }
  }
}
