.Header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.5em;

  &__account {
    padding: 0.5em;
    font-size: 1.25em;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
    border-radius: 16px;
    text-align: center;
    border: solid 1px var(--fg-color-2);
    background: var(--bg-color-2);
    box-shadow: 0px 2px 4px -2px rgba(0, 0, 0, 0.12), 0px 4px 4px -2px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
  }
}
