.NotificationsSettings {
  &__wrapper {
    display: flex;
    flex-direction: column;

    @media only screen and (max-width: 700px) {
      padding: 0px 1.25rem;
    }
  }

  &__notifications {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
