.NotificationsSettings {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &__container {
      max-width: 75rem;
      width: 100%;
    }
  }

  &__notifications {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__push-enabled-true {
    cursor: not-allowed;
    opacity: 50%;

    * {
      pointer-events: none;
    }
  }

  svg {
    color: var(--fg-color-1);
  }

  &__debug {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    font-size: 0.5em;
    color: violet;
    padding: 1em;

    &-row {
      display: flex;
      padding: 1em;
      flex-direction: column;
      gap: 0.5em;
      border: solid 1px blue;
    }
  }
}
