.Radio {
  display: flex;
  gap: 0.3em;
  align-items: center;

  input[type='radio'] {
    min-width: 1.75em;
    min-height: 1.75em;
    max-width: 1.75em;
    max-height: 1.75em;
    appearance: none;
    background-color: var(--accent-color-1);
    margin: 0;
    font: inherit;
    color: var(--bg-color-1);
    border: 0.15em solid var(--accent-color-1);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;

    &::before {
      content: '';
      background-color: var(--bg-color-1);
      width: 0.75em;
      height: 0.75em;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em var(--bg-color-1);
      transform-origin: bottom left;
      border-radius: 50%;
    }

    &:checked::before {
      transform: scale(1);
    }
  }
}
