.ThreadSelector {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 1em;


	.Thread, .Input {
		width: 100%;
	}

	&__contact {
		color: var(--fg-color-1);
	}


	&__threads {
		display: flex;
		flex-direction: column;
		gap: 1em;
		height: 100%;
		justify-content: flex-start;
	}

	&__action {
		display: flex;
		align-items: center;
		justify-content: center;

		button {
			cursor: pointer;
		}
	}
}
