@import '../../../styles/mixins.scss';

.ThreadSelector {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media only screen and (min-width: 700px) {
    min-width: 17.5em;
  }

  @media only screen and (max-width: 700px) {
    padding: 0 1.25em 1.25em;
  }

  &__target-title {
    margin-top: 1.625rem;
    padding: 0 0.75rem;
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.25em;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 2.25em;
      min-height: 2.25em;
    }
    &-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1.25em;
    }
    &-search {
      width: 2em;
      height: 2em;
      display: flex;
      align-items: center;
      background: var(--accent-color-1);
      border: solid 1px var(--accent-color-1);
      padding: 0.5em 0.5em;
    }
    &-link {
      background: var(--bg-gradient-2);
      border-radius: 0.625em;
      padding: 0.5em 0.625em;
      height: 3.5em;
    }
  }

  .Thread,
  .Input {
    width: 100%;
  }

  &__link {
    display: flex;
    gap: 0.5em;
    flex-shrink: 0;

    @media only screen and (max-width: 700px) {
      background: var(--accent-color-1);
      justify-content: center;
      min-width: 2em;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      padding: 0.5em;
    }

    &-icon {
      width: 0.75em;
      height: 0.75em;
      @media only screen and (min-width: 700px) {
        background: var(--accent-color-1);
        border-radius: 50%;
        padding: 0.5em;
        width: 1.75em;
        height: 1.75em;
      }
    }
  }

  &__thread {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__invites {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &-link {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
    &-avatars {
      position: relative;
      display: flex;
      align-items: center;
    }
    &-avatar {
      position: absolute;
    }
  }

  &__contact {
    color: var(--fg-color-1);
  }

  &__threads {
    display: flex;
    flex-direction: column;
    margin-top: 1.125rem;
    width: 100%;
    justify-content: flex-start;
    overflow-y: auto;
    max-height: 70vh;

    .NavLink {
      padding: 1.25rem 1rem 1.25rem 0.75rem;
    }

    @media only screen and (max-width: 700px) {
      max-height: 75vh;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      cursor: pointer;
    }
  }
}
