@import '../../../styles/mixins.scss';

.ThreadSelector {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 1em;

  @media only screen and (max-width: 700px) {
    padding: 0 1.25em 1.25em 1.25em;
  }
  &__mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.25em;
    min-height: 2.25em;
  }
  &__mobile-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25em;
  }
  &__mobile-search {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    background: var(--accent-color-1);
    border: solid 1px var(--accent-color-1);
    padding: 0.5em 0.5em;
  }
  .Thread,
  .Input {
    width: 100%;
  }

  &__invites {
    display: flex;
  }

  &__link {
    display: flex;

    @media only screen and (max-width: 700px) {
      background: var(--accent-color-1);
      justify-content: center;
      min-width: 2em;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      padding: 0.5em;
    }

    &-icon {
      width: 0.75em;
      height: 0.75em;
      @media only screen and (min-width: 700px) {
        background: var(--accent-color-1);
        border-radius: 50%;
        padding: 0.5em;
        width: 2.25em;
        height: 2.25em;
      }
    }
  }

  &__mobile-invites {
    width: 100%;
    background-color: transparent;
    border-radius: 0;
  }

  &__thread {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }

  &__invites {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &-link {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }

  &__contact {
    color: var(--fg-color-1);
  }

  &__threads {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      cursor: pointer;
    }
  }
}
