.MessageBox {
  display: grid;
  grid-template-areas: 'messagebox send-button';
  grid-template-columns: 95% 5%;
  gap: 1em;
  width: 90%;
  margin: 0 auto;

  .Input {
    grid-area: messagebox;
    border-radius: 16px 16px 6px 16px;
  }

  &__send {
    background: transparent;
    cursor: pointer;
    grid-area: send-button;
    display: grid;
    place-items: center;
    border-radius: 50%;

    height: 100%;
  }
}
