.MessageBox {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
  @media screen and (max-width: 700px) {
    padding: 0 calc(0.625em - 0.4em);
  }

  .Textarea {
    flex-grow: 1;
    border-radius: 16px 16px 6px 16px;
    &:focus-within {
      outline: 1px solid var(--accent-color-1);
    }
  }

  &__send {
    background: transparent;
    cursor: pointer;
    grid-area: send-button;
    display: grid;
    place-items: center;
    border-radius: 50%;

    height: 3em;
    width: 3em;
  }
}
