.AppExplorer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;

  &__nav {
    padding: 0.5em;
    display: flex;
    gap: 1em;
    backdrop-filter: blur(10px);
    align-items: center;
    font-size: 1.25em;
  }

  &__apps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    gap: 10px;
    @media only screen and (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }
    &__column {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      gap: 10px;
    }
  }
}
