.AppExplorer {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;

  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  will-change: opacity;
  position: relative;

  @media only screen and (max-width: 1300px) {
    margin-right: 0%;
  }

  @media only screen and (min-width: 700px) {
    margin-right: auto;
    margin-left: auto;
  }

  &__submit__button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 700px) {
      height: auto;
      top: calc(var(--mobile-header-height) + 1rem);
    }

    &__link {
      padding: 0.5rem 1rem;
      border-radius: 2rem;
      border: 1px solid var(--accent-color-2);
      text-decoration: none;
      color: var(--accent-color-1);
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
      background: rgba(255, 255, 255, 0.2);
      z-index: 20;

      svg {
        width: 1rem;
      }

      @media only screen and (max-width: 700px) {
        padding: 0.25rem 0.5rem;

        svg {
          width: 0.75rem;
        }
      }

      &__external__icon {
        display: none;
        opacity: 0;
        transition: opacity 0.2s ease-in-out;
      }

      &:hover &__external__icon {
        display: inline-block;
        opacity: 1;
      }
      &:hover &__plus__icon {
        display: none;
      }

      &:hover {
        background: var(--accent-color-3);
      }
    }
  }

  .IntroContent {
    margin-top: 2.25rem;
  }

  &__apps {
    width: 100%;
    max-width: 700px;
    display: grid;
    // 2 columns, of equal width, at least 20em wide each
    // If there is not enough space for the above, go to a one column layout.
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 1.5rem;
    padding: 5rem 1rem;

    @media only screen and (max-width: 1000px) {
      grid-template-columns: repeat(1, 1fr);
    }

    @media only screen and (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 0 1rem;
      margin-top: 3rem;
    }
    &__column {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      gap: 1.5rem;
    }
  }
}
