.AppExplorer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  max-width: 100vw;

  &__apps {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    gap: 0.625em;
    padding-top: 1em;
    @media only screen and (max-width: 700px) {
      grid-template-columns: repeat(1, 1fr);
    }
    &__column {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      gap: 0.625em;
    }
  }
}
