@import './styles/mixins.scss';

.App {
  background: var(--bg-color-1);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 'sidebar target-selector main header';
  gap: 1em;
  grid-template-columns: minmax(0.5em, 0.5fr) 5fr 10fr minmax(min-content, 1fr);

  .TargetSelector {
    grid-area: target-selector;
    @include padding-y(2em);
  }

  .Sidebar {
    grid-area: sidebar;
  }

  .Header {
    grid-area: header;
  }

  .Main {
    @include padding-y(2em);
    grid-area: main;
  }
}
