@import './styles/mixins.scss';


.App {
  background: var(--bg-color-1);
  min-height: 100vh;
  display: grid;
  grid-template: 'sidebar target-selector main header';
  gap: 5em;
  grid-template-columns: minmax(4em, 0.5fr) minmax(20%, 2fr) 8fr minmax(min-content, 1fr);

  .TargetSelector {
    grid-area: target-selector;
    @include padding-y(2em);
  }

  .Sidebar {
    @include padding-y(0.875em);
    @include padding-x(0.25em);

    grid-area: sidebar;
		height: 100vh;
  }

  .Header {
    grid-area: header;
  }

  .Main {
    @include padding-y(2em);
    grid-area: main;
  }
}
