@import './styles/mixins.scss';

.App {
  --targetselector-display: unset;
  --header-display: unset;
  --main-display: unset;
  background: var(--bg-color-1);
  max-height: 100svh;
  display: grid;
  grid-template: var(--grid-template);
  grid-template-columns: 1fr;
  max-width: 100vw;

  .TargetSelector {
    grid-area: target-selector;
    @include padding-y(2em);
    display: var(--targetselector-display);
    padding-bottom: 3em;
  }
  .Sidebar {
    border-right: solid 1px var(--bg-color-2);
    padding-top: 1.25em;
    padding-bottom: 1em;

    grid-area: sidebar;
  }

  .Header {
    grid-area: header;

    display: var(--header-display);
  }

  .Main {
    position: relative;
    grid-area: main;
    max-width: 100vw;
    height: 100svh;
    overflow-x: hidden;
    padding: 1rem 0.085em;
    display: var(--main-display);
  }
}

@media only screen and (min-width: 700px) {
  .App:has(.TargetSelector):has(.ThreadSelector) {
    @media only screen and (min-width: 1300px) {
      grid-template-columns: 3.75rem 1.2fr 3fr;
    }
  }
  .App {
    --targetselector-display: unset;
    --sidebar-display: unset;
    --header-display: unset;
    --main-display: unset;
    grid-template: 'sidebar target-selector main';
    grid-template-columns: 3.75rem 1fr 2fr;

    @media only screen and (min-width: 1300px) {
      grid-template-columns: 3.75rem 1fr 3fr;
    }

    .Main {
      padding: 1rem 1.5rem;
    }

    .TargetSelector {
      padding: 1rem 0.75rem;
      border-right: solid 1px var(--bg-color-2);
      position: relative;

      .Input {
        padding: 0px 0.75rem;

        img {
          left: calc(0.875rem + 0.75rem) !important;
        }
      }
    }
  }
}
