#root {
  --bg-color-1: #1e1e1e;
  --bg-color-2: #1e1e1e;
  --fg-color-2: #272a2a;
}

html {
  color-scheme: dark light;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
