#root {
  --bg-color-1: #1e1e1e;
  --bg-color-2: #272a2a;
  --fg-color-1: #c9cfcf;
  --fg-color-2: #272a2a;
  --fg-color-3: #798686;
  --accent-1: #0d7df2;
  --accent-gradient-1: hsla(211, 50%, 20%, 1);
  --accent-gradient-2: hsla(211, 50%, 20%, 0.5);
}

html {
  color-scheme: dark light;
}

body {
  background: var(--bg-color-1);
  font-family: ABC Diatype, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
