@import '../../../styles/mixins.scss';

.AppSelector {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 1em;

  .App,
  .Input {
    width: 100%;
  }

  &__link {
    display: flex;

    &-icon {
      background: var(--accent-color-1);
      border-radius: 50%;
      padding: 0.5em;
      width: 2.25em;
      height: 2.25em;
    }
    &-logo {
      border-radius: 50%;
      width: 2.25em;
      height: 2.25em;
    }
  }

  &__notifications {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &-link {
      display: flex;
      align-items: center;
      gap: 0.5em;
    }
  }

  &__apps {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      cursor: pointer;
    }
  }
}
