@import '../../../styles/mixins.scss';

.AppSelector {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 1em;
  min-width: 17.5em;

  @media only screen and (max-width: 700px) {
    padding: 0 1.25em 1.25em 1.25em;
  }
  &__mobile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 2.25em;
    min-height: 2.25em;
  }
  &__mobile-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25em;
  }
  &__mobile-search {
    width: 2em;
    height: 2em;
    display: flex;
    align-items: center;
    background: var(--accent-color-1);
    border: solid 1px var(--accent-color-1);
    padding: 0.5em 0.5em;
  }

  .App,
  .Input {
    width: 100%;
  }

  &__link {
    display: flex;
    &-item {
      // on hover when link is not active
      &:not(.NavLink-active):hover {
        background: var(--bg-color-2);
      }
    }

    @media only screen and (max-width: 700px) {
      background: var(--accent-color-1);
      justify-content: center;
      min-width: 2em;
      width: 2em;
      height: 2em;
      border-radius: 50%;
      padding: 0.5em;
    }

    &-icon {
      width: 0.75em;
      height: 0.75em;
      @media only screen and (min-width: 700px) {
        background: var(--accent-color-1);
        border-radius: 50%;
        padding: 0.5em;
        width: 1.75em;
        height: 1.75em;
      }
    }

    &-logo {
      border-radius: 50%;
      width: 2.25em;
      height: 2.25em;
    }
  }

  &__notifications {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    &-link {
      display: flex;
      align-items: center;
      gap: 0.5em;
      &__muted {
        display: flex;
        align-items: center;
        gap: 0.5em;
        color: var(--fg-color-2);
      }
    }
  }

  &__muted {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    &__label {
      padding: 0.5em 0.5em 0 0.5em;
      color: var(--fg-color-3);
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
    }
  }

  &__apps {
    display: flex;
    flex-direction: column;
    gap: 1em;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      cursor: pointer;
    }
  }
}
