.Select {
  &__control {
    font-feature-settings: 'ss04' on, 'case' on;

    font-size: 14px;
    font-style: normal;
    font-weight: 590;
    line-height: 20px; /* 142.857% */
    letter-spacing: -0.28px;
    border: none !important;
    padding: 0.625em 0.75rem;
    background-color: var(--sender-bubble-bg) !important;
    border-radius: 16px !important;
    gap: 4px;
    height: 2.5rem !important;

    @media only screen and (max-width: 700px) {
      height: 3.5rem !important;
    }
  }

  &__indicator {
    padding: 0px !important;
  }

  &__value-container {
    padding: 0px !important;
  }

  &__menu {
    background-color: var(--bg-color-2) !important;
    border: 1px solid var(--border-color-2);
    color: var(--fg-color-1) !important;
    border-radius: 0.75em !important;
    padding: 0.375em !important;
  }

  &__option {
    border-radius: 0.5em !important;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }

  &__placeholder,
  &__single-value {
    color: var(--fg-color-1) !important;
  }
}
