select {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.375em 0.75em;
  color: var(--fg-color-1);
  background: var(--bg-color-2);
  border: 1px solid var(--border-color-1);
  border-radius: 1.75em;
}


