.ThreadDropdown {
  width: 100%;
  &__container {
    display: grid;
    place-items: center;
    .Dropdown__dropdown {
      width: fit-content;
    }
  }
  &__button {
    display: flex;
    gap: 0.5em;
    width: 100%;
    align-items: center;
    padding: 0.625em 0.8125em;
    height: 2.3125em;
    border: none;
    border-radius: 10px;
    background: none;
    cursor: pointer;
    white-space: nowrap;
    transition: background 200ms ease;

    &:hover {
      @media (hover: hover) {
        background-color: var(--bg-color-4);
      }
    }
    svg {
      max-width: none;
    }
    img {
      width: 1em;
      height: 1em;
    }
    span {
      font-weight: 400;
      line-height: 140%;
      font-size: 0.875rem;
    }
    &--leave {
      color: var(--error-color-1);
    }
    &--mute {
      color: var(--fg-color-1);
      padding: 0.5em;
    }
  }
}
