.AppNotificationDropdown {
  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    width: 100%;

    button {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0.625rem 0.75rem;
      gap: 0.5em;
      border: none;
      background: none;
      cursor: pointer;
      transition: background 500ms ease;
      overflow: hidden;

      &:hover {
        background-color: var(--bg-color-4);
      }
      img {
        width: 1rem;
        height: 1rem;
      }
      span {
        font-weight: 400;
        line-height: 140%;
        font-size: 0.875rem;
      }

      svg {
        max-width: none;
        width: 1rem;
      }
    }

    & button:focus-visible {
      outline: none;
      background-color: var(--bg-color-4);
    }

    & button:not(&__unsubscribe) {
      color: var(--fg-color-1);
    }

    &__unsubscribe {
      color: var(--error-color-1);

      span {
        color: var(--error-color-1);
      }
    }
  }
}
