.AppNotificationDropdown {
  &__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    width: 100%;
    button {
      display: grid;
      width: 100%;
      grid-template-columns: 10% 90%;
      place-items: center;
      height: 2.625em;
      padding: 0.625em 0.8125em;
      gap: 0.375em;
      height: 2.3125em;
      border: none;
      border-radius: 10px;
      background: none;
      color: var(--fg-color-1);
      cursor: pointer;
      transition: background 500ms ease;

      &:hover {
        background-color: var(--bg-color-4);
      }
      img {
        width: 1em;
        height: 1em;
      }
      span {
        font-weight: 400;
        line-height: 140%;
        font-size: 0.875rem;
      }

      svg {
        max-width: none;
        width: 1rem;
      }
    }
    &__unsubscribe {
      span {
        color: var(--error-color-1);
      }
    }
  }
}
