.SettingsToggle {
  padding: 0.625rem 1.75rem;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: SF Pro;
    font-size: 16px;
    font-style: normal;
    font-weight: 510;
    line-height: 20px;
    color: var(--fg-color-1);
  }

  &__subtitle {
    display: block;
    margin-top: 0.8rem;
    color: #788181;
    width: 75%;
  }
}
