.Circle-badge {
  display: flex;
  align-items: center;
  width: 1.25em;
  height: 1.25em;
  justify-content: center;
  border-radius: 50%;
  padding: 2px 6px;
  background-color: var(--accent-color-1);
  border: 1px solid var(--border-color-2);
  &__content {
    color: white;
    font-size: 0.875em;
  }
}
