name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
concurrency:
  # Support push/pr as event types with different behaviors each:
  # 1. push: queue up builds
  # 2. pr: only allow one run per PR
  group: ${{ github.workflow }}-${{ github.event.type }}${{ github.event.pull_request.number }}
  # If there is already a workflow running for the same pull request, cancel it
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}
jobs:
  test:
    timeout-minutes: 20
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 18
      - name: Install dependencies
        run: yarn
      - name: Build app
        run: yarn build
        env:
          NEXT_PUBLIC_LOG_LEVEL: true
          VITE_PROJECT_ID: ${{ secrets.VITE_DEV_PROJECT_ID }}
          VITE_EXPLORER_API_URL: ${{ secrets.VITE_EXPLORER_API_URL }}
      - name: Install Playwright Browsers
        run: yarn playwright:install
      - name: Run Playwright tests
        run: yarn playwright:test
        env:
          TEST_DAPP_PROJECT_ID: ${{ secrets.TEST_DAPP_PROJECT_ID }}
          TEST_DAPP_PROJECT_SECRET: ${{ secrets.TEST_DAPP_PROJECT_SECRET }}
          VITE_CI: true
          PRE_BUILD: true
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 7
      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: test-results
          path: test-results/
          retention-days: 7
