.SignatureModal {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding: 1.25em;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      color: var(--fg-color-1);
      font-weight: 700;
      font-size: 24px;
      line-height: 1.2em;
      flex-grow: 1;
    }
  }

  &__explanation,
  &__message {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--fg-color-3);
    font-size: 16px;
  }

  &__message {
    font-size: 0.75em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4em;
    width: 100%;
    & button {
      width: 100% !important;
      border-radius: 8px;
      font-size: 14px;
      border: solid 1px hsl(211, 100%, 58%);
      padding: 0.675em 0;
    }
  }
}
