@import '../../../styles/mixins.scss';

.SignatureModal {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.25em;
  text-align: center;

  &__header {
    font-size: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    svg {
      cursor: pointer;
      width: 1.25em;
    }
  }

  &__icon {
    width: 11rem;
    height: 9rem;
  }

  &__title {
    color: var(--fg-color-1);
  }

  &__url {
    color: var(--fg-color-2);
    margin-top: 4px;
  }

  &__description {
    color: #474d4d;
    margin-top: 1.5rem;
  }

  &__button {
    margin-top: 2rem;
    width: 100%;

    .Button {
      width: 100%;
      padding: 10px 0px;

      svg {
        width: 0.875rem;
        height: 0.875rem;
        display: inline-block;
      }
    }
  }
}
